{% extends "proj-base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <main class = "proj-main">
        <div class="poker-table">
            <div class="pot">Pot: $1000</div>

            <div class="community-cards">
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
            </div>

            <div class="player-section">
                <div class="poker-player">
                    <div class="poker-player-name">Player 1</div>
                    <div class="poker-player-cards">
                        <div class="poker-card">
                            <div style="background-image: url(/img/backside.jpg)" class="poker-card-back"></div>
                        </div>
                        <div class="poker-card">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-14"></div>
                        </div>
                    </div>
                    <div class="poker-player-money">$5000</div>
                </div>
                <div class="poker-player">
                    <div class="poker-player-name">Player 1</div>
                    <div class="poker-player-cards">
                        <div class="poker-card active-player">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-2"></div>
                        </div>
                        <div class="poker-card active-player">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-3"></div>
                        </div>
                    </div>
                    <div class="poker-player-money">$5000</div>
                </div>
                <div class="poker-player">
                    <div class="poker-player-name">Player 1</div>
                    <div class="poker-player-cards">
                        <div class="poker-card">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-4"></div>
                        </div>
                        <div class="poker-card">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-5"></div>
                        </div>
                    </div>
                    <div class="poker-player-money">$5000</div>
                </div>
                <div class="poker-player">
                    <div class="poker-player-name">Player 1</div>
                    <div class="poker-player-cards">
                        <div class="poker-card">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-6"></div>
                        </div>
                        <div class="poker-card">
                            <div style="background-image: url(/img/deck.png)" class="poker-deck-sprite card-3-7"></div>
                        </div>
                    </div>
                    <div class="poker-player-money">$5000</div>
                </div>

            </div>
            <div class="controls">
                <button class="action-btn">Fold</button>
                <button class="action-btn">Call</button>
                <button class="action-btn">Raise</button>
            </div>
        </div>
    </main>
{% endblock %}
