{% extends "proj-base.html.twig" %}

{% block title %}Project{% endblock %}

{% block body %}
    <main class = "proj-main">
        <div class="poker-table">
            <div class="pot">Pot: $1000</div>

            <div class="community-cards">
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
                <div class="poker-card"></div>
            </div>

            <div class="player-section">
                {% for player in players %}
                    {% set playerIndex = loop.index0 %}
                    <div class="poker-player">
                        <div class="poker-player-name">{{player.name}}</div>
                        <div class="poker-player-cards">
                        {% for card in player.hand %}
                            <div class="poker-card">
                                {% if playerIndex == 0 %}
                                    <div style="background-image: url({{ asset('img/deck.png') }})" class="poker-deck-sprite card-{{ card.toString() }}"></div>
                                {% else %}
                                    <div style="background-image: url({{ asset('img/backside.jpg') }})" class="poker-card-back"></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        <div class="poker-player-money">$5000</div>
                    </div>

                {% endfor %}


            </div>
            <div class="controls">
                <button class="action-btn">Fold</button>
                <button class="action-btn">Call</button>
                <button class="action-btn">Raise</button>
            </div>
        </div>
    </main>
{% endblock %}
