{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>
    <div class = "container column">
        <div class = "item">
            <p></p>
        </div>
    </div>
{% endblock %}
