{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block body %}
    <main class = "small-margin">
        <div class = "deck-container">
            {% for card in deck %}
                <div class="deck-sprite card-{{card.toString()}}"></div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
