{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block body %}
    <main class = "small-margin">
        <div class = "deck-container">
            <div class="deck-sprite card-0-1"></div>
            <div class="deck-sprite card-0-2"></div>
            <div class="deck-sprite card-0-3"></div>
            <div class="deck-sprite card-0-4"></div>
            <div class="deck-sprite card-0-5"></div>
            <div class="deck-sprite card-0-6"></div>
            <div class="deck-sprite card-0-7"></div>
            <div class="deck-sprite card-0-8"></div>
            <div class="deck-sprite card-0-9"></div>
            <div class="deck-sprite card-0-10"></div>
            <div class="deck-sprite card-0-11"></div>
            <div class="deck-sprite card-0-12"></div>
            <div class="deck-sprite card-0-13"></div>

            <div class="deck-sprite card-1-1"></div>
            <div class="deck-sprite card-1-2"></div>
            <div class="deck-sprite card-1-3"></div>
            <div class="deck-sprite card-1-4"></div>
            <div class="deck-sprite card-1-5"></div>
            <div class="deck-sprite card-1-6"></div>
            <div class="deck-sprite card-1-7"></div>
            <div class="deck-sprite card-1-8"></div>
            <div class="deck-sprite card-1-9"></div>
            <div class="deck-sprite card-1-10"></div>
            <div class="deck-sprite card-1-11"></div>
            <div class="deck-sprite card-1-12"></div>
            <div class="deck-sprite card-1-13"></div>

            <div class="deck-sprite card-2-1"></div>
            <div class="deck-sprite card-2-2"></div>
            <div class="deck-sprite card-2-3"></div>
            <div class="deck-sprite card-2-4"></div>
            <div class="deck-sprite card-2-5"></div>
            <div class="deck-sprite card-2-6"></div>
            <div class="deck-sprite card-2-7"></div>
            <div class="deck-sprite card-2-8"></div>
            <div class="deck-sprite card-2-9"></div>
            <div class="deck-sprite card-2-10"></div>
            <div class="deck-sprite card-2-11"></div>
            <div class="deck-sprite card-2-12"></div>
            <div class="deck-sprite card-2-13"></div>

            <div class="deck-sprite card-3-1"></div>
            <div class="deck-sprite card-3-2"></div>
            <div class="deck-sprite card-3-3"></div>
            <div class="deck-sprite card-3-4"></div>
            <div class="deck-sprite card-3-5"></div>
            <div class="deck-sprite card-3-6"></div>
            <div class="deck-sprite card-3-7"></div>
            <div class="deck-sprite card-3-8"></div>
            <div class="deck-sprite card-3-9"></div>
            <div class="deck-sprite card-3-10"></div>
            <div class="deck-sprite card-3-11"></div>
            <div class="deck-sprite card-3-12"></div>
            <div class="deck-sprite card-3-13"></div>

            <!---div class = "card-deck">
                <div class = "deck-row">
                    {% for card in spades %}
                        <div class="card">{{ card.toString() }}</div>
                    {% endfor %}
                </div>
                <div class = "deck-row">
                    {% for card in hearts %}
                        <div class="card">{{ card.toString() }}</div>
                    {% endfor %}
                </div>
                <div class = "deck-row">
                    {% for card in diamonds %}
                        <div class="card">{{ card.toString() }}</div>
                    {% endfor %}
                </div>
                <div class = "deck-row">
                    {% for card in clubs %}
                        <div class="card">{{ card.toString() }}</div>
                    {% endfor %}
                </div>

            </div---->
        </div>
    </main>
{% endblock %}
