{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block body %}
    <main class = "small-margin">
        <div class="deck-container">
            <div class="side">
                {% if isEmpty == 1 %}
                    <div class="card-empty"></div>
                {% else %}
                    <div style="background-image: url({{ asset('img/backside.jpg') }})" class="card-back"></div>
                {% endif %}
                    <h1>{{ size }}</h1>
            </div>

            <div class="playing-cards">
                {% for card in hands %}
                    <div style="background-image: url({{ asset('img/deck.png') }})" class="deck-sprite card-{{ card.toString() }}"></div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
