{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    <main>
        <h1>Session</h1>
        <div class = "container column">
            <a class = "session-delete" href = "{{path("session_delete")}}">Delete session</a>
            {{ include('flash.html.twig') }}
            <pre> {{ dump(session) }}</pre>
        </div>
    </main>
{% endblock %}
