
{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <main>
        <h1>Dokumentation</h1>
        <div class = "uml-container">
            <img class = "flow-chart-img" src="{{ asset('img/kmom03_game.png') }}" alt="">
        </div>
    </main>
{% endblock %}
