@import "nav.css";
@import "flash.css";
@import "cards.css";
@import "api.css";
@import "game.css";
@import "doc.css";
@import "library.css";
@import "metrics.css";


/*body {
    margin: 0 auto;
    max-width: 400px;
}*/

* {
    font-family: 'Coolvetica-Rg','Roboto', sans-serif;
    letter-spacing: 1px;
}

body, html {
    background: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 0 10rem;
}

.center-vertical {
    justify-content: center;
}

.small-margin {
    margin: 0 2rem;
}

@font-face {
    font-family: 'Coolveica-Rg';
    src: url('../fonts/coolvetica.ttf') format('truetype');
}

a,
p,
td,
th,
li,
dd {
  word-wrap: break-word;
  font-family: 'Arial','Roboto', sans-serif;
}

h1,
p {

    font-family: 'Coolvetica-Rg','Roboto', sans-serif;
    color: #111;
}

h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

p {
    font-size: 17.25px;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.index-img {
    width: 200px;
    height: 236px;
    border-radius: 12px;
}

.item {
    padding-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 700px 200px;
}

article {
    display: flex;
    flex-direction: column;
}

.border-left {
    border-left: 1px solid #000;
    padding-left: .5rem;
}

.link {
    padding: 0;
}

.link a i {
    margin-right: .5rem;
    color: #000;
}

footer {
    width: 100%;
    background-color: #a387bb;
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: #fff;
    margin: 0;
}

.lucky-img {
    width: 200px;
    height: 200px;
}

.session-delete {
    display: inline;
    width: 130px;
}

.width-50 {
    width: 50%;
}

.center {
    text-align: center !important;
}
