{% extends "base.html.twig" %}

{% block title %}API routes{% endblock %}

{% block body %}
    <h1>Alla API router</h1>
    <ul>
        <li><a href = "/api/quote">/api/quote</a></li>
    </ul>
{% endblock %}
