{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Jag är en dynamisk figur, jag har spelat trumset för ABBA och är ofta sedd att jobba som en tolk för 37 språk. Jag skriver romaner på mina lunchraster och har skrivit 9/10 böcker som finns på listan “10 böcker som har förändrat mitt liv”. Ibland optimerar jag processen av jordgubbssyltens produktion.</p>
    <p>Jag charmar kvinnor med mina svenska uppsatser, gör standup comedy på fredagar och bakar mitt bröd själv. Om jag känner för det så kan jag springa 7 Iron Man på 6 dagar. Jag tycker om regnbågen, även om jag är färgblind. Jag lär små barn att simma.</p>
    <p>Jag behärskar pianot, men behöver bara endast 1 av de 88 tangenterna. Jag har aldrig gråtit hos läkaren. Jag blev vald till president i Chicago men tackade nej till jobbet eftersom jag bara var på genomresa. Jag gillar oliver och russin samtidigt.</p>
    <p>Jag är en djurviskare, stavhoppsrekordhållare och har en historia utan nederlag mot Stockfish i schack. Vid 4 års ålder tog jag mitt pilotcertifikat. Jag kan hålla min andedräkt i 21 minuter med full mage. När jag är uttråkad skriver jag bokrecensioner på latin med min vänster hand och på engelska med min högra. Jag gör en ett minut ägg på 45 sekunder och känner till meningen med livet.</p>
    <p>Vill du gå på bio med mig?
{% endblock %}
