{% extends "base.html.twig" %}

{% block title %}API routes{% endblock %}

{% block body %}
    <main>
        <h1>Alla API router</h1>
        <ul>
            <li><a href = "{{path('quote')}}">/api/quote</a></li>
        </ul>
    </main>
{% endblock %}
