{% extends "base.html.twig" %}

{% block title %}Lucky number{% endblock %}

{% block body %}
    <main>
        <h1>Lucky number</h1>
        <p>This is the current lucky number: {{ number }}</p>
        <img class = "lucky-img" src="{{ asset('img/333.jpeg') }}" alt="">
    </main>
{% endblock %}
