{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <article>
            <header>
                <h1>Redovisning av kursmoment i kursen mvc (DV1608)</h1>
            </header>
            <section>
                <ul class = "report-list">
                    <li><a href = "#kmom01">Kmom01</a></li>
                    <li><a href = "#kmom02">Kmom02</a></li>
                    <li><a href = "#kmom03">Kmom03</a></li>
                    <li><a href = "#kmom04">Kmom04</a></li>
                    <li><a href = "#kmom05">Kmom05</a></li>
                    <li><a href = "#kmom06">Kmom06</a></li>
                    <li><a href = "#kmom10">Kmom10</a></li>
                </ul>
            </section>

            <section id = "kmom01">
                <h2>Kmom01</h2>
                <p>Nu kommer jag direkt från kursen, oopython. Så objektorienteringen finns färsk i minnet. I övrigt har jag sedan tidigare även jobbat objektorienterat i språk som Java, Javascript, och C++. Det ska bli intressant att se hur det fungerar med PHP.</p>

                <p>En klass är en mall som man kan skapa objekt från. Till exempel, om vi har en bil-klass så kan vi använda denna för att skapa objekt av typen bil. Objektet kan sedan ha metoder och attribut. En bil skulle kunna ha en metod: <code>unlock()</code>, och en attribut <code>licencePlate</code>.</p>
                <p>I PHP finns kapslas metoder or attribut in med hjälp av <code>public</code>, <code>private</code>, och <code>protected</code>. Dessa begränsar hur saker och ting kan nås relativt till klassen. <code>public</code> metoder och attribut kan nås överallt, <code>private</code> innebär att man begränsar metoden eller attributet till klassen, och <code>protected</code> begränsar till klassen och möjliga klasser i klassen.
                <p>Via arv kan en klass få tillgång till metoder från en annan klass. Vi kan till exempel ha en fordonsklass och en bilklass, där bilklassen kan ärva från fordonsklassen. I detta sammanhang går det även att överlagra metoder, där man vill ha samma metod men med ett annat anpassat beteende beroende på klass.</p>
                <p>Jag hade inga större problem med strukturen, och jag kände att jag ganska snabbt kom igång. Dock känns det som att det kan bli en del att hålla koll på när man jobbar mer med det. Jag får även intrycket att det inte rör sig om något så "light-weight", när jag kopierade över strukturen från kmom01 så var mappen 120MB.</p>
                <p>Jag skulle inte påstå att jag dök ner allt för djupt i "PHP The Right Way", men vad jag såg kan den bli användbar när det är något jag funderar på hur man gör. Något jag minns från webtec-kursen, var att jag inte fullt greppade PDO, vilket jag såg att artikeln tog upp. Jag hoppas att det kommer tillfälle att sätta sig in lite djupare i detta denna gång.</p>
                <p><b>TIL: </b> det blev inte egentligen inte allt för mycket nytt detta moment, men jag antar generellt syntax:en för klasser och objekt i PHP, som jag inte jobbat med tidigare.</p>
            </section>

            <section id = "kmom02">
                <h2>Kmom02</h2>
                <p><b>Arv</b>: en klass kan ärva olika egenskaper från en annan klass. Som exempel, en klass Animal kan ha en funktion för vilket läte djuret har. Har man sedan en klass Elefant, så har elefanten ett eget läte men det är fortfarande ett djur. Med arv kan man smidigt återanvända djurklassen och definiera ett specifik läte för ett specifik djur.</p>
                <p><b>Komposition</b>: en klass kan bestå/använda andra klasser/objekt inom ramen av sig själv. Som exempel, har vi en kort-klass, så kan vi i en hand-klass använda kort-klassen för att bygga upp en hand.</p>
                <p><b>Interface</b>: ett interface definierar vilka metoder som en klass ska implementera. Själva interfacet implementerar inte koden, men det berättar vad vi förväntar oss av en klass.</p>
                <p><b>Trait</b>: ett trait används för att återanvända diverse metoder mellan klasser, utan att man behöver använda arv. Man kan tänka sig att koden som definieras i ett trait kopieras in i klassen som använder trait:et.</p>
                <p>Efter att jag ritat UML-diagrammet var det inte så svårt att implementera koden. Det som tog mest tid var att komma ihåg php:s syntax, så i någon mån blev det lite hackigt när man måste hoppa fram och tillbaka mycket mellan att skriva och läsa dokumentationen.</p>
                <p>Huvudsakliga logiken hamnade i <b>CardController</b>. För session, så la jag in kontroller för att se om session redan finns eller inte. Om det inte finns ett kortspel eller en hand så genereras det. Man kan även använda /card/deck/shuffle för att blanda och skapa en ny kortlek och hand i sessionen.</p>
                <p>När det kom till api-routes så blev det mest repitition, och jag tänker att jag skulle kunna bryta ut en hel del från api-kontrollern och card-kontrollern för att få koden mer DRY. Men i och med att det inte är så mycket kod ännu så fungerar det ändå helt okej som jag implementerat det nu.</p>
                <p>Jag hade en hel del problem med att få bilder att ladda in rätt med encore. Av någon anledning så vill bilderna laddas in från /build/build när jag använder url() i css-filerna. För att lösa det fick jag använda style-tag:en direkt på html-elementen för att sätta bakgrunden när jag visar korten. Jag är ändå rätt nöjd över resultatet, då jag la en del tid på att få den grafiska representationen att se bra ut med sprites.</p>
                <p>MVC känns rätt bra, det enda är att det blir rätt mycket att hålla koll på med symphony, men med lite mer övning så ska det nog gå bra.</p>
                <p><b>TIL: </b>CSS-sprites. Jag har aldrig jobbat med sprites så det var lite klurigt att få till det, men ändå roligt att se resultatet.</p>
            </section>

            <section id = "kmom03">
                <h2>Kmom03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui mauris, tempus ut scelerisque id, molestie pretium magna. Cras bibendum ante sed elementum ornare. In blandit elit ac felis faucibus, ut posuere justo porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a egestas lorem. Phasellus lacinia finibus neque, quis finibus risus convallis molestie. Donec eget ultrices velit. In ante massa, vestibulum mollis sagittis at, tincidunt id dolor. Sed vehicula magna eu mauris malesuada semper.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui nibh, cursus ac ante ac, maximus sagittis eros. Cras congue posuere augue nec gravida. Aenean venenatis placerat magna vestibulum blandit. Suspendisse ac augue fringilla, efficitur velit imperdiet, euismod turpis. Nam varius nisi ullamcorper, euismod eros sit amet, tincidunt orci. Vestibulum justo ex, condimentum sit amet sodales at, venenatis vel dui. Vivamus gravida egestas turpis mattis euismod. Maecenas eget lorem tortor. Duis posuere dui consectetur, pretium urna in, laoreet libero. Integer vestibulum odio a arcu commodo dictum.</p>

            </section>

            <section id = "kmom04">
                <h2>Kmom04</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui mauris, tempus ut scelerisque id, molestie pretium magna. Cras bibendum ante sed elementum ornare. In blandit elit ac felis faucibus, ut posuere justo porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a egestas lorem. Phasellus lacinia finibus neque, quis finibus risus convallis molestie. Donec eget ultrices velit. In ante massa, vestibulum mollis sagittis at, tincidunt id dolor. Sed vehicula magna eu mauris malesuada semper.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui nibh, cursus ac ante ac, maximus sagittis eros. Cras congue posuere augue nec gravida. Aenean venenatis placerat magna vestibulum blandit. Suspendisse ac augue fringilla, efficitur velit imperdiet, euismod turpis. Nam varius nisi ullamcorper, euismod eros sit amet, tincidunt orci. Vestibulum justo ex, condimentum sit amet sodales at, venenatis vel dui. Vivamus gravida egestas turpis mattis euismod. Maecenas eget lorem tortor. Duis posuere dui consectetur, pretium urna in, laoreet libero. Integer vestibulum odio a arcu commodo dictum.</p>
            </section>

            <section id = "kmom05">
                <h2>Kmom05</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui mauris, tempus ut scelerisque id, molestie pretium magna. Cras bibendum ante sed elementum ornare. In blandit elit ac felis faucibus, ut posuere justo porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a egestas lorem. Phasellus lacinia finibus neque, quis finibus risus convallis molestie. Donec eget ultrices velit. In ante massa, vestibulum mollis sagittis at, tincidunt id dolor. Sed vehicula magna eu mauris malesuada semper.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui nibh, cursus ac ante ac, maximus sagittis eros. Cras congue posuere augue nec gravida. Aenean venenatis placerat magna vestibulum blandit. Suspendisse ac augue fringilla, efficitur velit imperdiet, euismod turpis. Nam varius nisi ullamcorper, euismod eros sit amet, tincidunt orci. Vestibulum justo ex, condimentum sit amet sodales at, venenatis vel dui. Vivamus gravida egestas turpis mattis euismod. Maecenas eget lorem tortor. Duis posuere dui consectetur, pretium urna in, laoreet libero. Integer vestibulum odio a arcu commodo dictum.</p>
            </section>

            <section id = "kmom06">
                <h2>Kmom06</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui mauris, tempus ut scelerisque id, molestie pretium magna. Cras bibendum ante sed elementum ornare. In blandit elit ac felis faucibus, ut posuere justo porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a egestas lorem. Phasellus lacinia finibus neque, quis finibus risus convallis molestie. Donec eget ultrices velit. In ante massa, vestibulum mollis sagittis at, tincidunt id dolor. Sed vehicula magna eu mauris malesuada semper.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui nibh, cursus ac ante ac, maximus sagittis eros. Cras congue posuere augue nec gravida. Aenean venenatis placerat magna vestibulum blandit. Suspendisse ac augue fringilla, efficitur velit imperdiet, euismod turpis. Nam varius nisi ullamcorper, euismod eros sit amet, tincidunt orci. Vestibulum justo ex, condimentum sit amet sodales at, venenatis vel dui. Vivamus gravida egestas turpis mattis euismod. Maecenas eget lorem tortor. Duis posuere dui consectetur, pretium urna in, laoreet libero. Integer vestibulum odio a arcu commodo dictum.</p>
            </section>

            <section id = "kmom10">
                <h2>Kmom10</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui mauris, tempus ut scelerisque id, molestie pretium magna. Cras bibendum ante sed elementum ornare. In blandit elit ac felis faucibus, ut posuere justo porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum a egestas lorem. Phasellus lacinia finibus neque, quis finibus risus convallis molestie. Donec eget ultrices velit. In ante massa, vestibulum mollis sagittis at, tincidunt id dolor. Sed vehicula magna eu mauris malesuada semper.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui nibh, cursus ac ante ac, maximus sagittis eros. Cras congue posuere augue nec gravida. Aenean venenatis placerat magna vestibulum blandit. Suspendisse ac augue fringilla, efficitur velit imperdiet, euismod turpis. Nam varius nisi ullamcorper, euismod eros sit amet, tincidunt orci. Vestibulum justo ex, condimentum sit amet sodales at, venenatis vel dui. Vivamus gravida egestas turpis mattis euismod. Maecenas eget lorem tortor. Duis posuere dui consectetur, pretium urna in, laoreet libero. Integer vestibulum odio a arcu commodo dictum.</p>
            </section>
        </article>
    </main>
{% endblock %}
